html, body {
    color: #ffffff;
    background-color: #292929;
    width: 100%;
    height: 100%;
    font-family: 'Noto Serif KR', serif;
    font-size: 3vh;
    text-align: center

}

img {
  max-width: 100%;
}

.team-label {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #716F6F;
    font-size: 2.5vh;
}

.title-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #1c1c1c;
}

.title-label {
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    font-size: 5vh;
}

.upload-form {
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.uploader {
    padding-bottom: 1.5vh;
}

.img-container {
    display: flex;
    align-content: center;
}

.notice-label {
    color: #716F6F;
    font-size: 2vh;
    padding-bottom: 2vh;
}

.user-img {
    width: 30vw;
    padding-bottom: 3vh;
    max-width: 100%;

}

.equation-label {
    color: #716F6F;
    font-size: 2vh;
}

.latex-label {
    color: #716F6F;
    font-size: 2vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}


#back {
position: absolute;
z-index: 100;
background-color: #000000;
display:none;
left:0;
top:0;
}

#loadingBar {
position:absolute;
left:50%;
top: 55%;
display:none;
z-index:200;
}

